
html, body {
  height: 100%;
  width: 100%;
  font-size:17px;
/*   font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; */
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
  --paleGrey:#d2d2d7;
  --white:white;
  --whitish:#F5F5F7;
  --grayish: #6e6e73;
  letter-spacing: -.022em;
/*   background-color:black; */
  margin: 0px;
}

.mydark{
      --paleGrey:#535355 !important;
      --white:white;
      --whitish:#1d1d1f;
        color:white;
      --grayish: #86868b !important;
      }

/*-------------------------------------------for Nav bar-----------------------------------------*/


#nav-body{
  position: fixed;
  top:0px;
  height: 44px;
  width:100%;
  box-shadow:0 1px 16px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(18px);
  z-index: 2;
}

#nav-body ul{
  margin: 0 12%;
  padding: 0 22px;
  width: 76%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#nav-body ul li{
/*   display: inline-block; */
  position: relative;
  z-index: 1;
  color: var(--white);
/*   white; */
  padding: 100px, 0px;
  display: flex;
  align-items:center;
}

a{
  text-decoration:none;
  font-weight: 300;
}

a:hover {
  text-decoration: underline;
}

.nav-links{
    font-size: 14px;
    font-weight: 100;
    line-height: 1.47059;
    color: var(--white);
/*       white; */
}

/*----------------------------------------for Offer ribbon-----------------------------------------*/
.offer-ribbon{
  background-color: var(--whitish);
/*   #f5f5f7; */
  height:44.5px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:44px;
  text-align: center;
}

.offer-ribbon span{
  font-size: 14px;
}

/*-------------------------------------------for hero-text-----------------------------------------*/
.hero-text{
    text-align: center;
    padding-top: 47px;
    position: absolute;
/*     border:1px solid green ; */
      color: #1d1d1f;
}

.hero-text-dark{
  color:var(--whitish);
/*   #f5f5f7; */
}


.hero-text h2{
  margin:0px;
  font-size:62px;
  font-weight:600;
  letter-spacing: -0.02em;
}

.hero-text h3{
    font-size: 30px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.links-div{
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 500;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 0.65em;
}

/* .links-div a{
  letter-spacing: -0.03em;
} */

#a-1st{
  margin-right:30px;
}

/*-------------------------------------------for hero-image-----------------------------------------*/
.ImgA{
  display:inline-block;
  position:absolute;
  height:100%;
  width:100%;
}

.p-relative{
   position:relative;
   display:flex;
   justify-content: center;
}

.img{
  height: 584px;
  width: 100%;
  background-size:auto 100%;
  background-repeat:no-repeat;
  background-position: center;
}

.img1{
  background-image: url("./hero-1.jpg");
}

.img2{
  background-image: url("./hero-2.jpg");
}

.img3{
  background-image: url("./hero-3.jpg");
}

/*-------------------------------------------for carouel-----------------------------------------*/
ol{
  position: absolute;
  bottom: -42px !important;
  z-index:2 !important;
}


ol li{
  height: 9.2px !important;
  width: 9.2px !important;
  margin: 0 7px !important;
  border-radius: 50%;
  z-index:2;
  background-color: rgba(0,0,0,0.16) !important;
}

li.active {
  background-color:rgba(0,0,0,0.58) !important;
}

.slide{
  border-bottom:40px solid var(--white);
/*     white; */
}

/* ----------------------------------for footer---------------------------------------  */

.footer {
  width: 100%;
  height: 810px;
  background: var(--whitish);
/*   #F5F5F7; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.footer__wrapper {
  width: 970px;
}

.footer ul {
  font-size: 14px;
  list-style: none;
  color: var(--grayish);
  padding:0px;
  border-bottom: 1px solid var(--paleGrey);
}

.footer ul li {
  margin: 15px 0;
  letter-spacing: 0.1px;
}

.footer__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* .footer__links div, .footer__links a{
  color:red !important;
} */

.footer__links--column {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__links--column-title {
  font-weight: 400;
  font-size: 12px;
  margin-top: 18px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}

.footer__links--column a {
  font-size: 12px;
  color: #515154;
  margin-bottom: 12px;
}

.footer__more {
  font-size: 13px;
  color: var(--grayish);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--paleGrey);
}

.footer__more a {
  color: #06c;
}

.footer__copyright {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  color: var(--grayish);
  margin-top: 4px;
  position: relative;
}

.footer__copyright .links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__copyright .links a {
  padding: 0 10px;
  color: #515154;
  border-left: 1px solid var(--paleGrey);
}

.footer__copyright .links a:nth-child(1) {
  border: none;
}

/* ----------------------------------for Coupon code---------------------------------------  */

.Coupon-block p{
  position:absolute;
  right:-25px;
  top:-25px;
  color:white; 
  line-height:0;
  font-size:1.5em;
  user-select:none;
  cursor: pointer;
  
}

.Coupon-main-div{
  display:flex;
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  height:100vh;
  width:100vw;
  background-color:rgba(0,0,0,0.7);
  z-index:30;
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in-out opacity
  
}

.Coupon-block{
  border-radius:25px;
  height:72%;
  width:60%;
  position:relative;
  background:white;
/*   box-shadow:0px 0px 10px rgba(255,255,255,0.8); */
  padding: 60px;
  opacity: 0;
  transform: translateY(20%);
  transition: 200ms ease-in-out opacity,
                200ms ease-in-out transform
  }

.Coupon-block:hover{
background-image: linear-gradient(to right top, #f8c659, #f38d39, #d75a88, #ff7e71, #ffb25f, #ffeb68);

}


.Coupon-div{
  background-image: url("./for-Coupon.png");
  background-size:100% 100%;
  background-repeat:no-repeat;  
/*   border:1px solid green;   */
  height:100%;
  width:100%;
  border-radius:25px;
}

h6{
  position:absolute;  
}

#c-new {
  font-size:15px;
  color:var(--paleGrey);
  top: 10px;
  left:45px;
}

#c-head1{
  font-size:39px;
  color:#1d1d1f;
  top: 45px;
  left:40px;  
  font-weight:650;
  
}

#c-para{
  font-size:15px;
  color:#1d1d1f;
  top: 100px;
  left:45px;  
  font-weight:330;
}

#c-para-2{
  font-size:18px;
  color:#1d1d1f;
  bottom: 10px;
  left:40px;  
  font-weight:400;
}

.showPopup {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}